<h1>Lists</h1>

<ul>
  <% @lists.each do |list| %>
    <li>
      <%= link_to list.name, list %>
    </li>
  <% end %>
</ul>

<%= link_to 'Create a movie list', new_list_path %>
<%= cl_image_tag("ssevqucxplognawtkt94",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%= cl_image_tag("ssevqucxplognawtkt94",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
